.myBtn {
    padding: 20px;
    background: greenyellow;
    outline: none;
    border: 1px solid greenyellow;
    border-radius: 50%;
}

.myBtn:hover {
    background: green;
    cursor: pointer;
    color: white;
}