.square {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid black;
    width: 80px;
    height: 80px;
    margin: 5px;
}

.white {
    background: none;
}
.black {
    background: black;
}

.oshka {
    position: absolute;
}